body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

/*   first-sectonn start...........*/
section.back-img {
  background-image: url("../img/photo.jpg");
  background-repeat: no-repeat;
  height: 900px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center; }
  section.back-img .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  section.back-img .text p, section.back-img h1 {
    font-weight: bolder; }
  section.back-img .button a {
    border: 1px solid #fff;
    border-radius: 50px;
    text-transform: uppercase;
    padding: 10px 50px;
    margin-top: 50px;
    color: #fff; }
  section.back-img .button a.active {
    background: #DC5504;
    border-color: #DC5504;
    color: #000;
    opacity: .7; }

/*.............first-sectonn end................*/
/*..................2nd-section part  start.......*/
.content img {
  width: 100%;
  height: 500px; }

/*...............third section..............*/
section.main-content {
  background-image: url("../img/section-3-desktop.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center; }
  section.main-content p {
    color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold; }

/*.............six part.............*/
section.design-part {
  margin-top: 5rem;
  text-align: center; }
  section.design-part h1 {
    font-weight: bold; }

/* ................fourth section...................*/
section.middle-text {
  background-color: #EDF0F1;
  height: 500px; }
  section.middle-text h1 {
    margin-top: 100px; }
  section.middle-text p {
    margin-left: 3rem;
    margin-top: 3rem; }
  section.middle-text h1, section.middle-text h3 {
    font-weight: bold;
    margin-left: 3rem; }

/*....................  five section...................*/
section.exprience {
  height: 250px; }
  section.exprience h1 {
    color: #FFA957;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold; }
  section.exprience p {
    color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

/*............seven part..........gallry section*/
section.gallry {
  margin-top: 5rem; }
  section.gallry img {
    width: 100%;
    height: 360px;
    margin-bottom: 1rem; }

/*................fotter section.............*/
section.fotter h1 {
  font-weight: bold; }

/*.............section contact.............*/
section.contact {
  background-color: #333;
  margin-top: 10rem;
  height: 400px; }
  section.contact .row {
    color: #fff; }
  section.contact .col-lg-4 {
    margin-top: 2rem; }

/*@media is start    */
@media (max-width: 450px) {
  section.middle-text {
    height: 700px; }
  section.header h1 {
    font-size: 30px; } }

@media (max-width: 768px) {
  section.back-img {
    height: 100vh; } }

@media (max-width: 991px) {
  section.exprience {
    height: 400px; } }

@media (min-width: 992px) {
  section.contact h5 {
    margin-top: 5rem; } }
